.flex_container
{
	display: flex;
	flex-direction: row;
}

.compu
{
	
	position: absolute;
}
.ori
{
	height:90px;
	width: 160px;
	margin-left: 1090px;
	/*margin-bottom: 900px;*/
    margin-top: 250px;
	position: absolute;
}
.dream 
{
	/*margin-bottom: 100px;*/
	text-align: right;
	position: absolute;
	margin-top: 350px;
	margin-left: 870px;
	font-size: 20px;
}
.compu2
{
	width: 700px;
	height:400px;
	margin-left: 50px;
	margin-top: 650px;
	position: absolute;
}
.bor
{
border: 2px solid black;
height: 280px;
width: 600px;
margin-top: 700px;
margin-left: 600px;
background-color: black;
color: skyblue;
font-size: 25px;
word-spacing: 6px;
position: absolute;
}
.sen
{
	font-size: 20px;
	text-align: center;
	color: black;
	margin-top: 1050px;
	margin-left: 140px;
	margin-right:140px;
	position: absolute;
}
.compu3
{
	margin-top: 1170px;
	position: absolute;
}
.sen2
{
    font-size: 20px;
	text-align: center;
	color: black;
	margin-top: 1770px;
	margin-left: 140px;
	margin-right:140px;
	position: absolute;
}
.compu4
{
	
	margin-top: 1900px;
	position: absolute;

}
.box1
{
	width: 500px;
	height:300px;
	color: white;
	margin-top: 2000px;
	margin-left: 50px;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
}
.con
{
	font-size: 17px;
	margin-top: 140px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}
.compu5
{
	margin-top: 1900px;
	position: absolute;
    margin-left: 630px;	
}
.box2
{
	width: 500px;
	height:300px;
	color: white;
	margin-top: 2002px;
	margin-left: 700px;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
}
.con2
{
	font-size: 17px;
	margin-top: 140px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}
.ready
{
	text-align:center;
	font-size: 20px;
	margin-top: 2400px;
	margin-left: 350px;
	position: absolute;

}
.join
   {   position: absolute;
   	top: 95%;
	border: 3px solid red;
	width: 150px;
	height: 80px;
	margin-left: 230px;
    
	}
	.join h3
	{
	font-size:30px;
	position: absolute;
	color: blue;
	padding-left: 15px;

}
.address1
{
position: absolute;
margin-top:170%;
margin-left: 20%;
}
.address2
{
position: absolute;
margin-top: 170%;
margin-left: 60%;
}

@media (max-width:780px)
{

.flex_container
{
	flex-direction: column;

}

.compu
{
	
	height:30% ;  
     width:97%;

}
.ori
{
	height:20px;
	width: 50px;
	margin-left: 170px;
    margin-top: 100px;
	position: absolute;
}
.dream h1
{
	font-size: 10px;
}
.dream 
{

	text-align: right;
	position: absolute;
	margin-top: 150px;
	margin-left: 170px;
	font-size: 7px;
}
.compu2
{
	width: 200px;
	height:200px;
	margin-left:0px;
	margin-top: 240px;
	
}
.bor
{
border: 2px solid black;
height: 90px;
width: 180px;
margin-top: 310px;
margin-left: 165px;
background-color: black;
color: skyblue;
font-size: 7px;
word-spacing: 2px;

}
.sen
{ 
	width: 340px;
	font-size: 14px;
	text-align: center;
	color: black;
	margin-top: 450px;
	margin-left:2px;
	
}
.compu3
{   
	height:140px ;  
     width: 340px;
	margin-top: 580px;
	
}
.sen2
{   width: 340px;
    font-size: 11px;
	text-align: center;
	color: black;
	margin-top: 730px;
	margin-left: 2px;

}


.compu4
{
	height: 160px;
	width: 200px;
	margin-top: 805px;

}
.compu5
{
	height: 160px;
	width: 190px;
	margin-top: 805px;
    margin-left: 155px;	
}
.box1
{
	width: 100px;
	height:125px;
	color: white;
	margin-top: 820px;
	margin-left: 10px;
	background: rgba(0, 0, 0, 0.5);
}
.box2
{
	width: 100px;
	height:125px;
	color: white;
	margin-top: 820px;
	margin-left: 180px;
	background: rgba(0, 0, 0, 0.5);
}
.con
{
	font-size: 9px;
	margin-top: 15px;
	text-align: center;
	margin-left: 9px;
	margin-right: 10px;
}

.con2
{
	font-size: 9px;
	margin-top: 15px;
	text-align: center;
	margin-left: 9px;
	margin-right: 10px;
	
}
.ready
{
	text-align:center;
	font-size: 6px;
	margin-top: 955px;
	margin-left: 70px;

}
.join
{ 
	width: 90px;
	height: 40px;
	text-align:center;
	font-size: 5px;
	margin-top: 10px;
	margin-left: 30px;

}
.join h3
{
	font-size: 16px;
}
.address1
{
  text-align:center;
	font-size: 6px;
	margin-top: 1040px;
	margin-left: 30px;
	font-size: 9px;

}
.address2
{
   text-align:center;
	font-size: 6px;
	margin-top: 1040px;
	margin-left: 180px;
	font-size: 9px;

}